name: Publish to npm

on:
  release:
    types: [published]

jobs:
  publish-to-npm:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 22
          registry-url: https://registry.npmjs.org
      # pnpm publish calls npm publish under the hood, so make sure we use the latest npm
      - run: npm install -g npm@latest
      - run: npm install -g pnpm
      - run: pnpm i --frozen-lockfile && pnpm build
      - run: pnpm test
      - run: pnpm publish --provenance --no-git-checks --access public
